<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/nav") %>

            <div class="success-message content">
                <h1>Successfully! Signup <%= data.username %></h1>
                <a href="../blogs">Go to Blog List</a>
            </div>

            <%- include("../partials/footer") %>
    </body>

</html>