<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

            <div class="blog content">
                <h2>About the Author</h2>
                <p>This website is currently being built up by <strong>Shrey Singhal</strong> student of MIT, Moradabad
                </p>
            </div>

            <%- include('partials/footer') %>
    </body>


</html>