<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>

            <div class="error-container">
                <div class="not-found content">
                    Sorry the page you are looking for cannot be found...
                </div>
            </div>

            <%- include("partials/footer") %>
    </body>

</html>