<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>

            <div class="fail-message content">
                <h1>Blog Created Failed</h1>
                <p>There was an error for deteting your blog. Please try again.</p>
                <a href="/blogs">Go to Blog List</a>
            </div>

            <%- include("partials/footer") %>
    </body>

</html>