<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>

            <div class="blog content">
                <h2>Welcome to the blogs website</h2>
                <p>Here you can find all the blogs that have been posted by the users</p>
            </div>

            <%- include('partials/footer') %>
    </body>


</html>