<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/nav") %>

            <div class="success-message content">
                <h1>Blog Delete Successfully!</h1>
                <p>Your blog has been Deleted successfully. You can now view more blogs on the blog list page.</p>
                <a href="/blogs">Go to Blog List</a>
            </div>

            <%- include("partials/footer") %>
    </body>

</html>